@font-face {
	font-family: 'ExtraBold_Italic';
	src: url('../../fonts/ExtraBold_Italic.woff2') format('woff2');
	src: url('../../fonts/ExtraBold_Italic.woff') format('woff');
	src: url('../../fonts/ExtraBold_Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Bold_Italic';
	src: url('../../fonts/Bold_Italic.woff2') format('woff2');
	src: url('../../fonts/Bold_Italic.woff') format('woff');
	src: url('../../fonts/Bold_Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Regular_ Italic';
	src: url('../../fonts/Regular_ Italic.woff2') format('woff2');
	src: url('../../fonts/Regular_ Italic.woff') format('woff');
	src: url('../../fonts/Regular_ Italic.ttf') format('truetype');
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

body {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	height: 2000px;
	//height: 3250px;
	img {
		max-width: 100%;
	}
	header {
		position: relative;
		display: flex;
		left: 50%;
		transform: translate(-50%);
		width: 100%;
		margin-top: 40px;

		padding: 0px 0px 70px 0px;
		z-index: 3;
		background-color: #fff;
		.logo {
			display: flex;
			height: 30px;
			width: 161px;
			justify-content: space-around;
			position: relative;
			margin: 0 0px 0px 5%;
			.circle-logo {
				position: relative;
				height: 26px;
				width: 25px;
				border-radius: 50%;
				background-color: #f94f4f;

				span {
					display: block;
					color: #fff;
					position: absolute;
					font-family: 'ExtraBold_Italic';
					font-size: 3.8em;
					left: 6px;
					top: -13px;
				}
			}
			.creative {
				position: relative;
				height: 25px;
				width: 122px;
				span {
					position: absolute;
					top: -8px;
					left: 5px;
					font-family: 'ExtraBold_Italic';
					font-size: 3em;
				}
			}
		}

		.collapse-navbar {
			position: relative;
			flex: 1;
			width: 100%;

			.collapse-navbar-display-block {
			}
			.collapse-navbar-item {
				position: absolute;
				top: 100px;
				left: -88px;
				height: 312px;
				width: 252px;
				background-color: #191921;
				color: #fff;

				ul {
					list-style: none;
					font-size: 1.8em;
					font-family: 'Regular_ Italic';
					width: 100%;
					margin: 0px;
					padding: 0px;
					text-align: center;
					li {
						margin: 40px 0px 0px 0px;

						.schedule-navbar {
							display: inline-block;
							font-family: 'ExtraBold_Italic';
							height: 44px;
							width: 199px;
							padding-top: 20px;
							font-size: 1em;
							background-color: #f94f4f;
						}
					}
				}
			}
		}
		.hambourger {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 30px;
			width: 24px;
			justify-content: space-evenly;
			margin: 0 5% 0px 0px;
			.before {
				position: absolute;
				top: 48%;
				transform: translateY(-48%) rotate(225deg);
				height: 2px;
				width: 100%;

				background-color: #979797;
			}
			.after {
				position: absolute;
				top: 48%;
				transform: translateY(-48%) rotate(130deg);
				height: 2px;
				width: 100%;

				background-color: #979797;
			}
			/* 		&::before {
				content: '';
				position: absolute;
				top: 48%;
				transform: translateY(-48%) rotate(225deg);
				height: 2px;
				width: 100%;

				background-color: #979797;
			}
			&::after {
				content: '';
				position: absolute;
				top: 48%;
				transform: translateY(-48%) rotate(130deg);
				height: 2px;
				width: 100%;

				background-color: #979797;
			} */
			.hambourger-item {
				height: 2px;
				width: 100%;
				background-color: #979797;
			}
		}
	}
	.part-one {
		position: relative;
		top: -15px;
		background-color: #fff;
		z-index: 2;
		.image-one {
			img {
			}
		}

		.text-one {
			width: 90%;
			padding: 0% 5% 50px 5%;
			font-family: 'ExtraBold_Italic';
			h1 {
				height: 129px;
				font-size: 4em;
			}
			p {
				height: 100px;

				line-height: 25px;
				font-family: 'Regular_ Italic';
				font-size: 1.5em;
			}
			button {
				height: 72px;
				width: 177px;
				margin-top: 20px;
				border: none;
				outline: none;
				font-family: inherit;
				text-decoration: none;
				font-size: 1.8em;
				background-color: #f94f4f;
				color: #fff;
			}
		}
	}
	.part-two {
		position: relative;
		width: 100%;
		top: -47px;
		background-color: #191921;
		.text-part-two {
			position: inherit;
			top: -185px;
			width: 90%;
			padding: 0% 5% 50px 5%;
			color: #fff;
			font-family: 'ExtraBold_Italic';
			background-color: #191921;

			.logo-title {
				position: relative;

				h2 {
					font-size: 3.2em;
					padding-top: 20px;
					span {
						color: #f94f4f;
					}
				}
				.logo {
					position: absolute;
					top: -95px;
					font-family: 'ExtraBold_Italic';
					font-size: 13em;
					color: #f94f4f;
					z-index: 3;
				}
			}

			p {
				height: 100px;
				line-height: 25px;
				font-family: 'Regular_ Italic';
				font-size: 1.5em;
			}
			.schedule-two {
				font-size: 1.5em;
				color: #f94f4f;
				width: 103px;
				div {
					height: 2px;
					width: 100%;
					background-color: #f94f4f;
					margin-top: 10px;
				}
			}
		}
	}
	.part-three {
		position: relative;
		top: -250px;
		background-color: #f94f4f;
		width: 90%;
		z-index: 4;
		padding: 0px 5% 0px 5%;
		font-family: 'ExtraBold_Italic';
		color: #fff;

		.title-three {
			h2 {
				font-size: 3.2em;
				height: 180px;
				width: 281px;
				padding: 90px 0px 0px 0px;
			}
			.text-num {
				position: relative;
				top: -50px;
				width: 80%;

				span {
					font-size: 8em;
					opacity: 0.3;
				}
				.titles-part-3 {
					position: absolute;
					bottom: 120px;
					left: 10px;
					font-size: 1.5em;
					margin: 0px;
					padding: 0px 5% 0px 5%;
				}
				.text-p3 {
					margin: 0px;
					line-height: 30px;
					font-family: 'Regular_ Italic';
					font-size: 1.5em;
				}
				.container {
					position: inherit;
					height: 190px;
				}
				.part-one-p3 {
					.bg-num-01 {
					}
					p {
					}
				}
				.part-two-p3 {
					.bg-num-02 {
					}
					p {
					}
				}
				.part-three-p3 {
					.bg-num-03 {
					}
					p {
					}
				}
			}
		}
	}
	.part-four {
		position: relative;
		top: -255px;
		.slide-container {
			.slide-one {
				overflow: hidden;
				.img-div {
					position: relative;
					width: 100%;
					span {
					}
					.container-span-p4 {
						position: absolute;
						height: 50px;
						left: 50%;
						bottom: 60px;
						z-index: 4;
						display: flex;
						flex-direction: column;
						font-size: 1.5em;
						text-align: right;
						color: #fff;
						.text-p4 {
							padding-bottom: 10px;
							font-family: 'ExtraBold_Italic';
						}
						.date-p4 {
							font-family: 'Regular_ Italic';
						}
					}
					img {
						height: 400px;

						width: 100%;
						-webkit-animation-name: fade;
						-webkit-animation-duration: 1.5s;
						animation-name: fade;
						animation-duration: 1.5s;
					}
					#img-three {
						position: relative;
						top: -110px;
						transform: scale(1.5) translate(-27px, 5px);
					}
				}

				.black-div {
					position: relative;
					height: 272px;
					width: 100%;
					top: -29px;
					background-color: #191921;
					color: #fff;
					font-family: 'ExtraBold_Italic';

					&::before {
						content: '';
						position: absolute;
						left: 0px;
						top: -100px;
						height: 100px;
						width: 100%;
						background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
					}
					.logo {
						display: none;
					}
					.container-p4 {
						height: 144px;
						width: 90%;
						padding: 20px 5% 0% 5%;

						h2 {
							font-size: 3.2em;
						}
						.buttons {
							height: 40px;
							width: 110px;
							.button-p4 {
								display: inline-block;
								position: relative;
								height: 40px;
								width: 40px;
								border-radius: 50%;
								border: #f94f4f solid 1px;
							}
							.button-left {
								position: relative;
								margin-right: 15px;
								&::before {
									content: '';
									position: absolute;
									top: 44%;
									left: 48%;
									transform: translate(-48%, -44%) rotate(220deg);
									height: 11px;
									width: 2px;
									background-color: #f94f4f;
								}
								&::after {
									content: '';
									position: absolute;
									top: 64%;
									left: 50%;
									transform: translate(-50%, -64%) rotate(120deg);
									height: 10px;
									width: 2px;
									background-color: #f94f4f;
								}
							}
							.button-right {
								&::before {
									content: '';
									position: absolute;
									top: 40%;
									left: 50%;
									transform: translate(-50%, -40%) rotate(140deg);
									height: 10px;
									width: 2px;
									background-color: #f94f4f;
								}
								&::after {
									content: '';
									position: absolute;
									top: 64%;
									left: 50%;
									transform: translate(-50%, -64%) rotate(44deg);
									height: 10px;
									width: 2px;
									background-color: #f94f4f;
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		position: relative;
		top: -300px;
		font-family: 'ExtraBold_Italic';

		.footer-content {
			width: 90%;
			padding: 25% 5% 100px 5%;
			h2 {
				font-size: 3.2em;
			}
			.schedule-footer {
				position: relative;
				height: 64px;
				width: 199px;
				background-color: #f94f4f;
				margin-top: 50px;
				span {
					position: absolute;
					width: 110px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1.6em;
					color: #fff;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	body {
		img {
		}

		header {
			padding-top: 10px;
			background-color: #fff;

			.logo {
				top: 20px;
				.circle-logo {
					span {
					}
				}
				.creative {
					span {
					}
				}
			}

			.collapse-navbar {
				.collapse-navbar-display-block {
				}
				.collapse-navbar-item {
					height: 178px;
					width: 75%;
					top: -50px;
					left: 20%;
					padding-top: 10px;
					padding-left: 5%;
					background-color: #f94f4f;
					ul {
						position: relative;
						display: flex;

						width: 90%;
						top: 20px;
						li {
							padding-left: 15px;
							.schedule-navbar {
								position: relative;
								top: -20px;
								width: 147px;
								background-color: #191921;
							}
						}
					}
				}
			}
			.hambourger {
				display: none;
				.before {
				}
				.after {
				}

				.hambourger-item {
				}
			}
		}

		.part-one {
			top: 35px;
			display: flex;
			flex-direction: row-reverse;

			.image-one {
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					position: relative;
					left: 120px;
				}
			}

			.text-one {
				position: absolute;
				left: 0px;
				height: 100%;
				width: 34%;
				padding-bottom: 0;
				background-color: #fff;
				z-index: 3;
				h1 {
					width: 398px;
					font-size: 5.6em;
					margin: 0px;
					padding-top: 25px;
					margin-bottom: 80px;
				}
				p {
					width: 398px;
					font-size: 1.5em;
					line-height: 22px;
					margin: 25px 0px 10px 0px;

					height: 80px;
				}
				&::before {
					content: '';
					z-index: -1;
					position: absolute;
					right: -250px;
					height: 100%;
					width: 250px;

					background-image: linear-gradient(
						to left,
						rgba(255, 255, 255, 0),
						rgba(255, 255, 255, 0.2),
						rgba(255, 255, 255, 0.3),
						rgba(255, 255, 255, 0.4),
						rgba(255, 255, 255, 0.4),
						rgba(255, 255, 255, 0.7),
						rgba(255, 255, 255, 0.7),
						rgba(255, 255, 255, 0.7),
						rgba(255, 255, 255, 0.8),
						rgba(255, 255, 255, 0.8),
						rgba(255, 255, 255, 0.8),
						rgba(255, 255, 255, 0.9),
						rgba(255, 255, 255, 0.9),
						rgba(255, 255, 255, 1)
					);
				}

				h1 {
				}
				p {
				}
				button {
					margin: 0px;
					width: 177px;
					height: 72px;
				}
			}
		}
		.part-two {
			display: flex;
			height: 658px;
			img {
				width: 50%;
				transform: scale(1.6, 1) translate(-45px, 55px);
			}
			.text-part-two {
				position: absolute;
				top: 80px;
				right: 0%;
				height: 578px;
				width: 390px;
				padding-bottom: 0px;

				.logo-title {
					position: relative;
					color: #fff;

					.logo {
						position: absolute;
						top: -40px;
						left: -70px;
					}
				}

				p {
					padding-left: 40px;
					width: 300px;
					height: 130px;
					line-height: 25px;
					margin: 0px;
				}
				h2 {
					margin-top: 85px;
					padding-left: 50px;
					width: 200px;
				}
				.schedule-two {
					padding-top: 40px;
					padding-left: 50px;
					div {
					}
				}
			}
		}
		.part-three {
			top: -48px;
			padding-right: 0px;
			margin-right: 0px;
			background-color: #fff;
			width: 95%;
			.title-three {
				display: flex;

				h2 {
					color: #000;
					width: 35%;
				}
				.text-num {
					top: -100px;
					height: 797px;
					background-color: #f94f4f;
					span {
					}
					.titles-part-3 {
					}
					.text-p3 {
					}
					.container {
						width: 90%;
						padding: 0px 5% 0px 5%;
					}
					.part-one-p3 {
						margin-top: 80px;
						.bg-num-01 {
						}
						p {
						}
					}
					.part-two-p3 {
						margin-top: 20px;
						.bg-num-02 {
						}
						p {
						}
					}
					.part-three-p3 {
						margin-top: 20px;
						.bg-num-03 {
						}
						p {
						}
					}
				}
			}
		}
		.part-four {
			top: -155px;
			z-index: 5;

			.slide-container {
				.slide-one {
					.img-div {
						position: absolute;
						right: 0px;
						width: 67%;
						&::before {
							content: '';
							position: absolute;
							left: 0px;
							bottom: -5px;
							z-index: 5;
							height: 100px;
							width: 100%;
							background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
						}
						span {
						}
						.container-span-p4 {
							.text-p4 {
							}
							.date-p4 {
							}
						}
						overflow: hidden;
						img {
							height: 472px;
						}
						#img-two {
							transform: scale(1.6, 1) rotate(183deg) translate(25px, 5px);
						}
					}

					.black-div {
						width: 45%;
						height: 352px;
						&::before {
							display: none;
							content: '';
						}
						.logo {
						}
						.container-p4 {
							h2 {
							}
							.buttons {
								.button-p4 {
								}
								.button-left {
									&::before {
										content: '';
									}
									&::after {
										content: '';
									}
								}
								.button-right {
									&::before {
										content: '';
									}
									&::after {
										content: '';
									}
								}
							}
						}
					}
				}
			}
		}
		footer {
			top: -150px;
			.footer-content {
				h2 {
				}
				.schedule-footer {
					span {
					}
				}
			}
		}
	}
}
/* @media (min-width: 961px) {
	body {
		img {
		}
		header {
			.logo {
				.circle-logo {
					span {
					}
				}
				.creative {
					span {
					}
				}
			}

			.collapse-navbar {
				.collapse-navbar-display-block {
				}
				.collapse-navbar-item {
					ul {
						li {
							.schedule-navbar {
							}
						}
					}
				}
			}
			.hambourger {
				.before {
				}
				.after {
				}

				.hambourger-item {
				}
			}
		}
		.part-one {
			.image-one {
				img {
				}
			}

			.text-one {
				h1 {
				}
				p {
				}
				button {
				}
			}
		}
		.part-two {
			.text-part-two {
				.logo-title {
					h2 {
						span {
						}
					}
					.logo {
					}
				}

				p {
				}
				.schedule-two {
					div {
					}
				}
			}
		}
		.part-three {
			.title-three {
				h2 {
				}
				.text-num {
					span {
					}
					.titles-part-3 {
					}
					.text-p3 {
					}
					.container {
					}
					.part-one-p3 {
						.bg-num-01 {
						}
						p {
						}
					}
					.part-two-p3 {
						.bg-num-02 {
						}
						p {
						}
					}
					.part-three-p3 {
						.bg-num-03 {
						}
						p {
						}
					}
				}
			}
		}
		.part-four {
			.slide-container {
				.slide-one {
					.img-div {
						span {
						}
						.container-span-p4 {
							.text-p4 {
							}
							.date-p4 {
							}
						}
						img {
						}
						#img-three {
						}
					}

					.black-div {
						&::before {
							content: '';
						}
						.logo {
						}
						.container-p4 {
							h2 {
							}
							.buttons {
								.button-p4 {
								}
								.button-left {
									&::before {
										content: '';
									}
									&::after {
										content: '';
									}
								}
								.button-right {
									&::before {
										content: '';
									}
									&::after {
										content: '';
									}
								}
							}
						}
					}
				}
			}
		}
		footer {
			.footer-content {
				h2 {
				}
				.schedule-footer {
					span {
					}
				}
			}
		}
	}
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
 */
